<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游戏预测</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/dealWith.js"></script>
</head>

<body>
<div id="app">
    <h2>近15次数字:{{numbers.join(" ")}}</h2>
    <label>
        <input type="text" @input="validateInput" placeholder="请按顺序输入">
    </label>
    <div class="submitForm">
        <!--        <button @click="numbers[numbers.length]=''">下一个</button>-->
        <!--        <button @click="submitForm">提交</button>-->
    </div>
    <table v-for="row in 2" :key="row">
        <tr>
            <th :class="'g'+(bgC[(row - 1) * 5 + col-1]).toString()" v-for="col in 5" :key="col">
                {{(row - 1) * 5 + col - 1}}
            </th>
        </tr>
        <tr>
            <td :class="`hot`+counts[((row - 1) * 5 + col-1)]" v-for="col in 5"
                :key="col">
                出现 {{counts[(row - 1) * 5 + col - 1]}} 次
            </td>
        </tr>
        <tr>
            <td :class="`hot`+parseInt((inputValue.length-inputValue.lastIndexOf(((row - 1) * 5 + col - 1).toString())-1)/2).toString()"
                v-for="col in 5"
                :key="col">
                {{inputValue.length - inputValue.lastIndexOf(((row - 1) * 5 + col - 1).toString()) - 1}} 次 未出现
            </td>
        </tr>
    </table>
    <div class="box">
        <div class="msg">
            <p>预测压数:</p>
            <p v-for="m in msg_" :key="m">{{m}}</p>
        </div>
        <div class="predict">
            <table v-if="numbers.length >= 2">
                <tr>
                    <th>胜率</th>
                    <td>{{predict[0]}}</td>
                </tr>
                <tr v-for="i in 6">
                    <th>{{(((successCount[i - 1]) / (numbers.length - 1)) * 100).toFixed(2) + '%' }}</th>
                    <td>{{predict[i]}}</td>
                </tr>
            </table>

            <table v-if="numbers.length < 2">
                <tr>
                    <th>胜率</th>
                    <td>{{predict[0]}}</td>
                </tr>
                <tr v-for="i in 6">
                    <th>100%</th>
                    <td>{{predict[i]}}</td>
            </table>
        </div>

    </div>

</div>

<script>
    const app = Vue.createApp({
            data() {
                return {
                    numbers: [],
                    inputValue: [],
                    bgC: new Array(10).fill(`0`),
                    msg_: [],
                    predict: ["推荐压号区"],
                    counts: new Array(10).fill(0),
                    successCount: new Array(6).fill(0),
                    hotMun: [],
                    hotMun_15: [],
                    coldMun_15: [],
                }
            },
            methods: {
                validateInput(event) {
                    this.inputValue = event.target.value.split('');
                    this.numbers = this.inputValue.slice(-15)
                    this.successCount.fill(0)

                    for (let i = 0; i <= this.numbers.length; i++) {
                        dealWith(this.numbers.slice(0, i), this.bgC, this.msg_, this.hotMun, this.predict, this.successCount)
                    }
                },
            }
        })
    ;

    app.mount('#app');
</script>
</body>

</html>