<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游戏预测</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/dealWith.js"></script>
</head>

<body>
<div id="app">
    <p>近10次数字: {{numbers.join(" ")}}</p>
    <label>
        <input type="text" @input="validateInput" placeholder="请输入中奖数">
    </label>
    <div class="submitForm">
        <!--        <button @click="numbers[numbers.length]=''">下一个</button>-->
        <!--        <button @click="submitForm">提交</button>-->
    </div>
    <table v-for="row in 2" :key="row">
        <tr>
            <td :class="'g'+(bgC[(row - 1) * 5 + col-1]).toString()" v-for="col in 5" :key="col">
                {{(row - 1) * 5 + col - 1}}
            </td>
        </tr>
        <tr>
            <td :class="`hot`+(counts[(row - 1) * 5 + col - 1]).toString()" v-for="col in 5"
                :key="col">
                出现 {{counts[(row - 1) * 5 + col - 1]}} 次
            </td>
        </tr>
        <tr>
            <td :class="`hot`+(inputValue.length-inputValue.lastIndexOf(((row - 1) * 5 + col - 1).toString())-1).toString()" v-for="col in 5"
                :key="col">
                 {{inputValue.length-inputValue.lastIndexOf(((row - 1) * 5 + col - 1).toString())-1}} 次 未出现
            </td>
        </tr>
    </table>
    <p>触发规则:</p>
    <p v-for="msg in msg_" :key="msg">{{msg}}</p>
    <!--    <p >{{msg_}}</p>-->

    <!--    <table>-->
    <!--        <tr>-->
    <!--            <td>数字</td>-->
    <!--            <td>次数</td>-->
    <!--            <td>未出现次数</td>-->
    <!--        </tr>-->
    <!--        <tr v-for="i in 10" :key="i">-->
    <!--            <th>{{i - 1}}</th>-->
    <!--            <th>{{counts[i - 1]}}</th>-->
    <!--            <th>{{notAppearedCount[i - 1]}}</th>-->
    <!--        </tr>-->
    <!--    </table>-->
</div>

<script>
    const app = Vue.createApp({
        data() {
            const storedNumbers = localStorage.getItem('numbers');
            return {
                numbers: [],
                inputValue: [],
                bgC: new Array(10).fill(`0`),
                msg_: [],
                counts: new Array(10).fill(0),
            }
        },
        methods: {
            validateInput(event) {
                this.inputValue = event.target.value.split('');
                this.numbers = this.inputValue.slice(-10)
                this.numbers.forEach((n) => {
                })
                this.counts = []
                for (let i = 0; i < 10; i++) {
                    this.counts.push(this.numbers.filter(num => num === i.toString()).length)
                }

                dealWith(this.numbers, this.bgC, this.msg_)
            },
        }
    });

    app.mount('#app');
</script>
</body>

</html>